body {
    margin:0px;
    padding:0px;
}

header { 
    display:flex;
    justify-content: center;
    height:120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FF8197;
}

.logo img {
    display:flex;
    align-items:center; 
    object-fit: cover;
    object-position: -2px -20px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding:0;
}

nav ul {
    display:flex;
}

nav a {
    display: block;
    padding:15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #dfefc2;
    font-family: arial;
}

nav .active, nav a:hover{
    background-color:#f75f78;
}

#banner {
    justify-content:left;
    background-image: url(../Projeto/assets/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height:670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color:#ff1e56;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin:80px;
    padding: 0;
    max-width: 300px;
}

.banner_headline h2 {
    color:#be5d01;
    font-size:25px;
    text-shadow: 0px 1px 0px #555555;
    margin:80px;
    padding: 0;
    max-width: 300px;
    margin-top:-50px;
}

#banner_options {
    height: 210px;
    display: flex;
    margin-top:46px;
}

.banner1 {
    background-color: #fc7a90;
    flex-wrap: wrap;
    width:500px;
    background:linear-gradient(-45deg,#f87086,#c74a5f);
    border: 3px solid #9c3647;
    border-right: 1px solid #9c3647; 
}

.banner2 {
    background-color: #e96d82;
    flex-wrap: wrap;
    width:500px;
    background:linear-gradient(-45deg,#f76f86,#c74a5f);
    border-top: 3px solid #9c3647;
    border-bottom: 3px solid #9c3647;
    border-left: 1px solid #9c3647;
    border-right: 1px solid #9c3647; 

}

.banner3 {
    background-color: #da5f73;
    flex-wrap: wrap;
    width:500px;
    background:linear-gradient(-45deg,#fc748a,#c74a5f);
    border-top: 3px solid #9c3647;
    border-bottom: 3px solid #9c3647;
    border-left: 1px solid #9c3647;
    border-right: 3px solid #9c3647; 

}

.banner_title {
    font-size:30px;
    font-family: 'Cinzel', serif;
}

.banner_desc {
    font-size:18px;
    margin-top:20px;
    margin-bottom:20px;
    font-family: 'Poiret One', cursive;
    word-spacing: 3px;
    text-align: justify;
    margin-right:10px;
    margin-left:5px;
}

.banner1 a, .banner2 a, .banner3 a{ 
    display:inline-block;
    border: 1px solid #FFFFFF;
    padding:5px;
    color:#FFFFFF;
    font-size: 20px;
    margin-right:10px;
    margin-left:5px;
    text-decoration: none;
}

#geral {
    display: flex;
    justify-content: center;

}

#geral aside {
    flex:1px;
}

#geral section {
    flex:2
}

.container2 {
    display: flex;
    width: 100%;
    justify-content: sp;
    background-color:#f1d8bd;
}


.widget_title {
    margin-top: 30px;
    margin-bottom: 0px;
}

.widget_title_text {
    color:#000000;
    font-size:21px;
    font-weight: bold;
    margin-top: 30px;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color:#c74a5f;
    margin-top: 10px;
    margin-bottom: 30px;
}

article {
    flex:1;
    min-width:200px;
    margin-left:12px;
}

.flex { 
    display:flex;
    flex-wrap: wrap;
}

article .thumbnail1 { 
    width: 100%;
    height: auto;
}

article .nomeproduto1 {
    margin-top:20px;
    margin-bottom: 25px;
    font-size:18px;
    color:#000000;
    display:flex;
    flex-wrap: wrap;
}

article .preço1 {
    font-weight: bold;
    font-size:25px;
    display:flex;
}

article .parcelamento1 {
    margin-bottom: 25px;
}

article .preçoantigo1, .preço1, .parcelamento1 {
    color:#000000;
    display:flex;
}

article a {
    text-decoration: none;
}

